{% extends 'base.html' %}
{% block container %}

<section class="my-2 pt-3">
    <h2 class="h2 font-weight-normal text-center mb-5">Создание карточки компании:</h2>
    <form method="post" enctype="multipart/form-data" style="width: 100%; ">
        {% csrf_token %}
        <!-- {{ form }}
        <button type="submit" class="btn btn-primary mb-2">Создать карточку компании</button> -->
        <div class='row'>
            <div class="form-group col">
                <label>Название компании</label>
                <span style="color: crimson;">{{ form.name.errors }}</span>
                <input type="text" placeholder="Полет шмеля" name="name" class="form-control">
            </div>
            <div class="form-group col">
                <label>Расположение</label>
                <span style="color: crimson;">{{ form.location.errors }}</span>
                <input type="text" placeholder="Москва" name="location" class="form-control">
            </div>
            <div class="form-group col">
                <label>Количество сотрудников</label>
                <span style="color: crimson;">{{ form.employee_count.errors }}</span>
                <input type="text" placeholder="13" name="employee_count" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label>Информация о компании</label>
            <span style="color: crimson;">{{ form.description.errors }}</span>
            <textarea type="text" name="description" placeholder="Расскажите подробнее о вашей компании" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label>Логотип компании</label>
            <!-- <img src="{{ form.logo.url }}" width="130" height="80" alt=""> -->
            <span style="color: crimson;">{{ form.logo.errors }}</span>
            <input type="file" name="logo" class="form-control-file">
        </div>
        <div class='row justify-content-center'>
            <button type="submit" class="btn btn-primary mt-2">Создать карточку компании</button>
        </div>
    </form>
</section>

{% endblock %}