{% extends 'base.html' %}
{% block container %}

<section class="my-5 pt-3">
    <h2 class="h2 font-weight-normal text-center mb-5">Ваш отклик отправлен от имени {{ sender }}!</h2>
        <div class="row justify-content-center mb-0">
            <h5 class="col-6 text-center">          
                 Вы успешно отправили отклик на вакансию 
                <a href="{% url 'vacancy' vacancy_data.id %}">{{ vacancy_data.title }}</a>
                в компании 
                <a href="{% url 'company_card' vacancy_data.company.id %}">{{ vacancy_data.company.name }}</a>
            </h5>
        </div>
    <div class="row justify-content-center mt-5">
        <a class="btn btn-outline-primary" href="{% url 'vacancies' %}" role="button">к списку вакансий</a>
    </div>
</section>

{% endblock %}