{% extends 'base.html' %}
{% block container %}

<section class="my-5 pt-3">
    <h2 class="h2 font-weight-normal text-center mb-5">Моя компания</h2>
        <div class="row justify-content-center mb-0">
            <div class="col-6">          
                Пока вы не зарегистрировали ни одной компании. Хотите создать карточку комании, чтобы размещать вакансии и просматривать отклики?
            </div>
        </div>
    <div class="row justify-content-center mt-5">
        <button type="button" class="btn btn-primary">Создать карточку команию</button>
    </div>
</section>

{% endblock %}