{% extends 'base.html' %}
{% block container %}
  <main class="container mt-3">
    <section>
      <h1 class="h1 text-center mx-auto mt-4 pt-5" style="font-size: 70px;"><strong>{{specialty.title }}</strong></h1>
      <p class="text-center pt-1">{{ number_of_vacancies }} вакансий</p>
      <div class="row mt-5">
        <div class="col-12 col-lg-8 offset-lg-2 m-auto">
          {% if not vacancies_on_category %}
          <div class="text-center">Нет вакансий</div>
          {% else %}
            {% for vacancy in vacancies_on_category %}
              {% include 'vacancy_summary.html' %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>
  </main>
{% endblock %}